

<!-- <button type="button" (click)="signInWithFB()" class="btn btn-primary btn-block">Signin with Facebook</button> -->
<!-- <asl-google-signin-button #googlebtn></asl-google-signin-button> -->

<div class="login-container" *ngIf="!user">
  <div class="login-box">
    <h1>Login</h1>
    <form>
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <button type="submit">Login</button>
    </form>
    <div class="social-buttons">
      <!-- (click)="signWithGoogle()" -->
      <button class="facebook-button" (click)="signInWithFB()">Facebook</button>
      <div class="google-button">
        <div id="g_id_onload" data-client_id="811265676-lfnfgi5br4m43l0qoqu71pp0qci15a16.apps.googleusercontent.com"
          data-context="use" data-ux_mode="popup" data-login_uri="http://localhost:4200/" data-auto_prompt="false">
        </div>
        
        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin_with"
          data-size="large" data-logo_alignment="left">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="user">
  <img [src]="user.photoUrl" alt="">
  <div>
    <h4>{{user.name}}</h4>
    <p>{{user.email}}</p>
  </div>

</div>